html,
body {
  background: #0093c4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.container{
  margin: 80px auto 0 auto;
  max-width: 1000px;
  z-index:0;
  /* text-align: center; */
}

.home-container{
  margin: 80px auto 0 auto;
  max-width: 600px;
  position: absolute;
  text-align: center;

}
.navbar-container{
  max-width: 1400px;
  width: 30% ;
  margin: auto;
  padding: auto 15;
  display:  flex;
  justify-content: space-between;

}

a{
  text-decoration: none;
  color: black;
  z-index: 1;
  position: relative;

}
p{
  z-index: 1;
}

/* Loader */
.lds-hourglass {
  display: inline-block;
  /* position: relative; */
  width: 128px;
  height: 128px;
  padding-top: 100px;
  text-align: center;
  
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #a51111;
  border-color: rgb(97, 28, 28) transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}